@model UPSTAR.System.ViewModel.changePWViewModel
<div region="north" class="head-north" split="true" border="false" style="height: 66px;">
    <span class="head-left">
        @ViewBag.Title
    </span>
    <span class="head head-right">
        <a href="javascript:void(0)" class="easyui-linkbutton swich_project" plain="true" title="切换项目" data-options="iconCls:'icon-flag_france'"></a>
        <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#mm_user',iconCls:'icon-user'">当前用户:@ViewBag.UserName</a>
        <div id="mm_user" style="width: 150px;">
            <div data-options="iconCls:'icon-rainbow'" class="myconfig">个人设置</div>
            <div data-options="iconCls:'icon-edit'" class="changepwd">修改密码</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'icon-user_go'" class="loginOut">安全退出</div>
        </div>
    </span>
</div>

<div region="west" split="true" title="导航菜单" style="width: 180px;" id="west">
    <div id="wnav"></div>
</div>

<div region="center" id="mainPanle" style="background: #eee; overflow-y: hidden">
    <div id="tabs" class="easyui-tabs" fit="true" border="false">
        <div title="我的桌面" style="overflow: hidden;" id="home"></div>
    </div>
</div>

<div region="south" split="true" class="head-south">
    <div class="footer">Copyright &copy; 2016 UPSTAR, All Rights Reserved</div>
</div>

<script type="text/html" id="password-template">
    <div class="container_12" data-bind="with:form" style="width: 90%; margin: 5%;">
        @Html.AntiForgeryToken()
        <div class="grid_3 lbl">@Html.LabelFor(m => m.oldPw)：</div>
        <div class="grid_9 val">
            <input type="password" class="z-txt easyui-validatebox" data-bind="value: oldPw"  data-options="required:true"/>
        </div>
        <div class="grid_3 lbl">@Html.LabelFor(m => m.newPw)：</div>
        <div class="grid_9 val">
            <input id="pwd" type="password" maxlength="20" class="z-txt easyui-validatebox" data-bind="value: newPw" data-options="required:true" validtype="PasswordStrength"/>
        </div>
        <div class="grid_3 lbl">@Html.LabelFor(m => m.confirmPw)：</div>
        <div class="grid_9 val">
            <input type="password" maxlength="20" class="z-txt easyui-validatebox" data-bind="value:confirmPw" data-options="required:true" validType="equals['#pwd']"/>
        </div>
        <div class="clear"></div>
    </div>
    <div style="text-align: center;" class="z-toolbar-dialog">
        <a class="easyui-linkbutton" type="submit" data-bind="click:confirmClick" data-options="iconCls:'icon-ok'" href="javascript:void(0)"">确定</a>
        <a class="easyui-linkbutton" data-bind="click:closeClick" data-options="iconCls:'icon-cancel'" href="javascript:void(0)">取消</a>
    </div>

</script>
